body {
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s;
}

.img {
    border-radius: 50%; 
    width: 80px; 
    height: 80px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.img:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px #f4d800;
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 110%;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
}

li {
    text-align: center;
    margin-bottom: 10px;
    list-style: none;
}

li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

li a:hover {
    background-color: #43424272;
    text-decoration: none;
}

.div2 {
    width: 180px;
    height: 60px; 
    background: linear-gradient(135deg, #fffffff4, #000000); 
    color: white;
    border-radius: 4px; 
    transition: all 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.div2:hover {
    width: 100%; /* Adjust this value based on your design */
    background: linear-gradient(135deg, #ffffff, #000000); 
    box-shadow: 0px 0px 10px #f4d800; 
}

.info {
    padding: 330px 0; /* Adjust this value based on your design */
    text-align: center;
    background-image: url('imagenes/xoe10.jpg'); 
    background-size: cover;
    background-position: center;
    color: white; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    color: #ffffff;
}


.section-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    background-color: #000000;
    padding: 0;
    border-top: 1px solid #00c3ff;
    border-bottom: 1px solid #00c3ff;
}

.home-icon {
    margin-right: 6px;
}

.contact-icon {
    margin-right: 6px;
}

.services-icon {
    margin-right: 6px;
}

.products-icon {
    margin-right: 6px;
}

.section-title {
    text-align: center;
}

td {
    text-align: left;
}

#foo {
    position: relative;
    margin-top:  -1%;
    text-align: center;
    padding: 10px;
    background-color: #1b1c1d;
    color: #8b8e90;
}

@media (max-width: 768px) {
    .info {
        padding: 85% 0;
    }
    
    .about-services {
        padding: 10% 0;
    }
}
